$primary-color: #7BB83A;
$accent-color: #D9D9D9;
$accent-color-40: #F0F0F0;
$primary-color-50: #DCECCC;
$hover-color: #E4F0D6;
$color-white: #ffffff;
$black-color: #000000;
$black-color-25: #DFDFDF;
$red-color: #FF0404;
$light-grey-text-color: #787878;
$border-radius-5px: 5px;